{% extends "admin/base.html" %}
<!--lib 에 있는 admin/base.html-->
<!--C:\BigDeep\python_Source\Dajngo_SNS\venv\Lib\site-packages\django\contrib\admin\templates\admin\base.html-->
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Polls Adminstration</a></h1>
<!--C:\BigDeep\python_Source\Dajngo_SNS\venv\Lib\site-packages\django\contrib\admin\templates\admin\index.html-->
{% endblock %}

{% block nav-global %}{% endblock %}
