<html>
<head>
    <title>글보기</title>
</head>
<script language="javascript">
    function boardlist()
    {

            location.href= '/listPage?current_page={{current_page}}';

    }

    function boardmodify()
    {
        location.href='/updateForm?hakbun={{boardData.hakbun}}&current_page={{current_page}}';
    }

    function boarddelete()
    {
        location.href='/deleteBoard?hakbun={{boardData.hakbun}}&current_page={{current_page}}';
    }
</script>

<table cellspacing = 0 cellpadding="5" border="1" width="500">
    <tr>
        <td><b>조회수</b></td>
        <td> {{boardData.hits}} </td>
    </tr>
    <tr>
        <td><b> 학번 </b></td>
        <td> {{boardData.hakbun}} </td>
    </tr>
    <tr>
        <td><b>이름</b></td>
        <td> {{ boardData.irum }}</td>
    </tr>
    <tr>
        <td><b>국어</b></td>
        <td> {{ boardData.kor }}</td>
    </tr>
    <tr>
        <td><b>영어</b></td>
        <td> {{ boardData.eng }}</td>
    </tr>

    <tr>
        <td><b>수학</b></td>
        <td> {{ boardData.math }}</td>
    </tr>

    </tr>
        <tr>
        <td><b>총점</b></td>
        <td> {{ boardData.tot }}</td>
    </tr>
        <tr>
        <td><b>평균</b></td>
        <td> {{ boardData.avg }}</td>
    </tr>
    <tr>
        <td><b>등급</b></td>
        <td> {{ boardData.grade }}</td>
    </tr>
</table>

<table cellspacing = "0" cellpadding="0" border="0" width="500">
    <tr><td>
        <input type = "button" value="수정" OnClick="javascript:boardmodify()">
        <input type = "button" value="목록" OnClick="javascript:boardlist()">
        <input type = "button" value="삭제" OnClick="javascript:boarddelete()">
    </td></tr>
</table>
</html>